nav {
    display: flex;
    justify-content: space-between;
    padding: 32px 44px;
    background-color: white;
}

nav > .logo {
    width: 25%;
    height: auto;
    display: flex;
    align-items: center;
}

nav > .logo svg:first-child {
    width: 32px;
    height: 32px;   
}

nav > .logo svg:last-child {
    width: 98px;
    height: 27.53px;
}

nav > .menu {
    margin: 0;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

nav > .menu li {
    margin: 0px 0px 0px 8px;
    padding: 8px 24px;
}